* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}
html, body {
	height: 100%;
}
body {
	background-image: url(../images/background.jpg);
	/*background-color: red;*/
	/*background-size: 100%;*/
}
main {
	height: 100%;
	display: flex;
	justify-content: space-around;
	align-items: center;
}
section {
	width: 600px;
	height: 600px;
	background: url(../images/4-no-bac.png) no-repeat center center;
	text-align: center;
	flex: 1;
}
section h1 {
	font-size: 42px;
}
.logo {
	width: 200px;
	height: 200px;
	border-radius: 50%;
	background: gray;
	align-self: flex-start;
}
