@font-face{
  font-family: 'Adigiana';
  src: url('./Components/images/AdigianaUI.ttf');
}

.Sign_up{
  height:140vh;
  background-image: url('./Components/images/packground_1.png');
  background-repeat: no-repeat;
  opacity: 0.8;
}
/*input fields {sign-up}*/
.FormField {
  margin-top: 0;
  left: 20%;
  top: 35px;
  font-family: 'Adigiana';
  text-align: center;
}

.FormField__Label {
  display: block;
  text-transform: uppercase;
  font-size: 18px;
  color: black;
  margin-right: 30%;
  font-family: 'Adigiana';
  text-align: center;
  position: relative;
  top: 68px;
  right: 20px;
}
/* input fields*/
 .FormField__Input {
  width: 25%;
  background-color: transparent;
  border: none;
  color: black;
  outline: none;
  border-bottom: 1px solid #445366;
  font-size: 1em;
  font-weight: 300;
  font-family: 'Adigiana';
  position: relative;
  top: 40px;
  bottom: 20px;
  left: 45px;
} 

.FormField__Input::placeholder {
  color: #616E7F;
}

/*sign up button*/
.Sign-Up-button {
  background-color: rgb(116, 182, 248);
  color: white;
  border: none;
  outline: none;
  border-radius: 25px;
  padding: 5px 25px;
  font-size: 1.5em;
  font-weight: 500;
  margin-right: 1%;
  position: relative;
  top: 85px;
  font-family: 'Adigiana';
}
/* I'm already member*/
.FormField__Link {
  color: #66707D;
  text-decoration: none;
  display: inline-block;
  border-bottom: 1.5px solid #225E62;
  font-family: 'Adigiana';
  position: relative;
  top: 85px;
}

.FormField__CheckboxLabel {
  color: #646F7D;
  font-size: .9em;
  font-family: 'Adigiana';
  position: relative;
  top: 60px;
} 

.FormField__TermsLink {
  color: black;
  border-bottom: 1px solid #199087;
  text-decoration: none;
  display: inline-block;
  padding-bottom: 2px;
  margin-left: 5px;
  font-size: 15px;
  font-family: 'Adigiana';
}

.Sign_in{
  height:110vh;
  background-image: url('./Components/images/packground_1.png');
  background-repeat: no-repeat;
  opacity: 0.8;
}
.SignIn_Form{
  text-align: center;
  position: relative;
  top: 200px;
} 
.Sign-In-button{
  background-color: rgb(116, 182, 248);
  color: white;
  border: none;
  outline: none;
  border-radius: 25px;
  padding: 5px 25px;
  font-size: 1.5em;
  font-weight: 500;
  margin-right: 1%;
  font-family: 'Adigiana';
  position: relative;
  top: 250px;
}
.FieldIn-email{
  width: 30%;
  background-color: transparent;
  border: none;
  color: black;
  outline: none;
  border-bottom: 1px solid #445366;
  font-size: 1em;
  font-weight: 300;
  font-family: 'Adigiana';
  position: absolute;
  top: 100%;
  left: 35%;
  text-align: center;
}

.FieldIn-pass{
  width: 30%;
  background-color: transparent;
  border: none;
  color: black;
  outline: none;
  border-bottom: 1px solid #445366;
  font-size: 1em;
  font-weight: 300;
  font-family: 'Adigiana';
  position: absolute;
  top: 400%;
  left: 35%;
  text-align: center;
}

.label-email{
  font-family: 'Adigiana';
  font-size: 10px;
  position: absolute;
  left: 30%;
}

.label-pass{
  font-family: 'Adigiana';
  font-size: 10px;
  position: absolute;
  top: 300%;
  left: 45%;
}

.FormField-link-in{
  color: #66707D;
  text-decoration: none;
  display: inline-block;
  border-bottom: 1.5px solid #225E62;
  font-family: 'Adigiana';
  position: relative;
  top: 250px;

}

body{
  background-image: url('./Components/images/background.jpg');
  height: 115vh;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.log-in{
  height:310px;
  width: 800px;
  background-image: url('./Components/images/1-no-bac.png');
  background-size: cover;
  margin-left: 220px;
  opacity: 0.8;
  position: relative;
  bottom: 20px;
}

.loginHeader{
  position: relative;
  left: 40px;
  top: 95px;
  font-family: 'Adigiana';
  font-size: 90px;
  left:45px;
  padding-left: 150px;
}

.loginH2{
  font-family: 'Adigiana';
  width: 230px;
  font-size: 25px;
  padding-left:250px; 
  padding-top: 40px;
}

.account{
  background-image: url('./Components/images/2-no-bac.png');
  background-size: cover;
  height: 240px;
  width: 430px;
 text-align: center;
 font-family: 'Adigiana';
 opacity: 0.8;
 position: relative;
 bottom: 240px;
 left: 250px;
}

.Arrow{
  font-weight: bold;
  transform: rotate(316deg);
  position: relative;
  bottom: 10px; 
  left: 20px;
}
#accountH21{
  position: relative;
  left: 20px;
  top: 35px;
}
#accountH2{
  position: relative;
  left: 70px;
  top: 15px;
}
strong{
  font-size: 35px;
}
.signGoogle{
  background-image: url('./Components/images/3-no-bac.png');
  background-size: cover;
  height: 210px;
  width: 430px;
  text-align: center;
  font-family: 'Adigiana';
  opacity: 0.8;
  position: relative;
  left: 50%;
}

#signGoogle1{
  position: relative;
  font-size: 24px;
  left: 170px;
  width:60px;
  top:40px;
}

#signGoogle2{
  position: relative;
  font-size: 22px;
  top:30px;
  right: 14px;
}


.Google{
  position: relative;
  top:10px;
}
/* ul{
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: lightgreen;
}
li{
  float: right;
}
li .nav-link{
  display: block;
  color: black;
  text-align: center;
  padding: 16px ;
  text-decoration: none;
  width: 100%;
  margin-top: 0px;
} */
.profile{
  background-color: #eee;
  width:100%;
  height: 600px;
  text-align: center;
  font-size: 20px;
  color: blue;
}
h2{
  padding: 100px;
}